In [ ]:
import pandas as pd
from Data_project import generar_datos_financieros

"""
Finzen: Análisis y visualización de datos financieros.
"""
# Datos de prueba
# Generar el DataFrame
datos_financieros = generar_datos_financieros()
df_financiero = pd.DataFrame(datos_financieros)

# Mostrar las primeras filas del DataFrame
print("DataFrame para Análisis Financiero:")
print(df_financiero.head(10))
print(f"\nDimensiones del DataFrame: {df_financiero.shape}")

# Mostrar las columnas del DataFrame
print(f"\nColumnas del DataFrame: {df_financiero.columns.tolist()}")

# Mostrar información del DataFrame
print("\nInformación del DataFrame:")
print(df_financiero.info())

DataFrame para Análisis Financiero:
            nombre  edad situacion_laboral cuenta_con_ingresos_mensuales  \
0       Ana García    20      Emprendiendo                            si
1     Carlos López    28        Trabajando                            si
2  María Rodríguez    27        Estudiando                            si
3    Juan Martínez    29       Desempleado                            no
4  Laura Hernández    21        Estudiando                            no
5      Diego Pérez    20        Trabajando                            no
6   Sofía González    28       Desempleado                            no
7   Miguel Sánchez    21        Trabajando                            si
8       Elena Díaz    18        Estudiando                            no
9    David Ramírez    21       Desempleado                            no

   ingresos                                   ingresos_detalle  \
0       743  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
1      1556  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
2       530  {'Mensualidad': 150, 'Beca': 100, 'Emprendimie...
3         0  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
4         0  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
5         0  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
6         0  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
7       874  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
8         0  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...
9         0  {'Mensualidad': 0, 'Beca': 0, 'Emprendimiento'...

                               egresos_fundamentales  \
0  {'Pasajes': 11, 'Comida': 12.5, 'Universidad':...
1  {'Pasajes': 15, 'Comida': 12.5, 'Universidad':...
2  {'Pasajes': 10, 'Comida': 12.5, 'Universidad':...
3  {'Pasajes': 12, 'Comida': 18.0, 'Universidad':...
4  {'Pasajes': 11, 'Comida': 8.75, 'Universidad':...
5  {'Pasajes': 12, 'Comida': 12.5, 'Universidad':...
6  {'Pasajes': 11, 'Comida': 12.5, 'Universidad':...
7  {'Pasajes': 15, 'Comida': 12.5, 'Universidad':...
8  {'Pasajes': 12, 'Comida': 18.0, 'Universidad':...
9  {'Pasajes': 18, 'Comida': 15.25, 'Universidad'...

                         egresos_ocasionales
0    {'Helado': 12, 'Pareja': 20, 'Ropa': 0}
1    {'Helado': 0, 'Pareja': 50, 'Ropa': 60}
2    {'Helado': 8, 'Pareja': 20, 'Ropa': 60}
3  {'Helado': 15, 'Pareja': 35, 'Ropa': 100}
4     {'Helado': 8, 'Pareja': 20, 'Ropa': 0}
5     {'Helado': 8, 'Pareja': 0, 'Ropa': 60}
6   {'Helado': 8, 'Pareja': 35, 'Ropa': 150}
7  {'Helado': 15, 'Pareja': 20, 'Ropa': 150}
8      {'Helado': 8, 'Pareja': 0, 'Ropa': 0}
9     {'Helado': 15, 'Pareja': 0, 'Ropa': 0}

Dimensiones del DataFrame: (20, 8)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   nombre                         20 non-null     object
 1   edad                           20 non-null     int64
 2   situacion_laboral              20 non-null     object
 3   cuenta_con_ingresos_mensuales  20 non-null     object
 4   ingresos                       20 non-null     int64
 5   ingresos_detalle               20 non-null     object
 6   egresos_fundamentales          20 non-null     object
 7   egresos_ocasionales            20 non-null     object
dtypes: int64(2), object(6)
memory usage: 1.4+ KB
None